* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(71, 72, 73), rgb(1, 43, 75));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #currentDate {
  text-align: center;
  color: rgb(247, 226, 223);
}
body h1 {
  text-align: center;
  margin: 2rem 0rem 0rem 0rem;
  color: rgb(247, 226, 223);
  font-size: 3rem;
}
body form {
  text-align: center;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
body form input {
  background-color: rgb(247, 226, 223);
  font-size: 2rem;
  border: white 1px solid;
  padding: 0rem 0.5rem;
  margin: 0.5rem 0rem;
}
body form input[type=text] {
  width: 70vw;
}
body form input[type=number] {
  width: 60px;
  text-align: center;
}
body form input::-webkit-outer-spin-button,
body form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body form input[type=number] {
  -moz-appearance: textfield;
}
body form button {
  font-size: 2rem;
  padding: 0rem 1rem;
  background-color: rgb(1, 16, 43);
  color: white;
  border: white 1px solid;
  cursor: pointer;
}
body form button:hover {
  background-color: rgb(47, 96, 151);
}
body div.sort {
  margin: 1rem 0rem;
}
body div.sort button {
  background-color: rgb(247, 226, 223);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}
body div.sort button:hover {
  background-color: white;
}
body section {
  color: white;
  width: 75%;
}
body section div.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0rem;
  transition: all 0.5s;
}
body section div.todo p.todo-text {
  width: 70%;
  font-size: 2rem;
  color: black;
  padding: 0rem 0.5rem;
  border: none;
  background-color: rgb(247, 226, 223);
}
body section div.todo p.todo-time {
  width: 30%;
  font-size: 2rem;
  color: black;
  border: none;
  background-color: rgb(247, 226, 223);
  text-align: center;
}
body section div.todo button.play {
  background-color: rgb(237, 148, 39);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0rem 0.5rem;
  cursor: pointer;
}
body section div.todo button.play:hover {
  background-color: rgb(251, 172, 0);
}
body section div.todo button.complete {
  background-color: rgb(9, 138, 9);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0rem 0.5rem;
  cursor: pointer;
}
body section div.todo button.complete:hover {
  background-color: rgb(14, 212, 14);
}
body section div.todo button.trash {
  background-color: red;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0rem 0.5rem;
  cursor: pointer;
}
body section div.todo button.trash:hover {
  background-color: rgb(243, 105, 105);
}
body section .done {
  opacity: 0.5;
}
body section i {
  pointer-events: none;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
@media screen and (max-width: 850px) {
  body h1 {
    font-size: 3rem;
  }
  body form input {
    font-size: 2rem;
  }
  body form input[type=text] {
    width: 68vw;
  }
  body form button {
    font-size: 2rem;
  }
  body div.sort button {
    font-size: 1rem;
  }
  body section div.todo p.todo-text {
    font-size: 2rem;
    min-width: 82%;
  }
  body section div.todo p.todo-time {
    font-size: 2rem;
    min-width: 28%;
  }
  body section div.todo button.play {
    font-size: 2rem;
  }
  body section div.todo button.complete {
    font-size: 2rem;
  }
  body section div.todo button.trash {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  body h1 {
    font-size: 2rem;
  }
  body form input {
    font-size: 1rem;
  }
  body form input[type=text] {
    width: 60vw;
  }
  body form input[type=number] {
    width: 35px;
    text-align: center;
  }
  body form button {
    font-size: 1rem;
  }
  body div.sort button {
    font-size: 0.8rem;
  }
  body section div.todo p.todo-text {
    font-size: 0.8rem;
    min-width: 73%;
  }
  body section div.todo p.todo-time {
    font-size: 0.8rem;
    min-width: 30%;
  }
  body section div.todo button.play {
    font-size: 0.8rem;
  }
  body section div.todo button.complete {
    font-size: 0.8rem;
  }
  body section div.todo button.trash {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */