<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jimmy Hsu">
    <title>Todo-List</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1>Todo-List</h1>
    <h2 id="currentDate"></h2>
    <form>
        <input type="text" placeholder="輸入待辦事項" maxlength="15" />
        <input type="number" placeholder="月" min="1" max="12" />
        <input type="number" placeholder="日" min="1" max="31" />
        <button id="mic"><i class="fas fa-microphone"></i></button>
        <button id="add">+</button>
    </form>
    <div class="sort">
        <button>Sort By Time</button>
    </div>

    <section class="list">

    </section>
</body>
<script src="../static/script.js"></script>

</html>